@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*:focus {
    outline: none;
  }  
body{
    margin: none;
    padding: none;
}
.bloco1{
    width: 600px;
    height: 600px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px rgb(151, 151, 151);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imgClima{
    width: 100px;
    height: 100px;
}
.titulo{
    border: 1px red solid;
    font-family: 'Russo One', sans-serif;
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.input{
    width: 94%;
    height: 35px;
    border: 2px rgb(108, 107, 107) solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    font-size: 17px;
}
.bloco2{
    border: 1px red solid;
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 330px;
    height: 50px;
    flex-wrap: wrap;
}
.clima{
    border: 1px red solid;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 60px;
    font-family: 'Roboto', sans-serif;
}
.umidade{
    border: 1px red solid;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 65px;
}
.vento{
    border: 1px red solid;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100px;
}
.img{
    width: 20px;
    height: 20px;
}
.imgpais{
    width: 30px;
    height: 30px;
}
.cidade{
    border: 1px red solid;
    display: none;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.bloco3{
    border: 1px red solid;
    width: 500px;
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}
.lupa{
    width: 6%;
    display: flex;
    align-items: center;
    padding-left: 2px;
    background-color: rgb(105, 105, 106);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    border: 2px rgb(108, 107, 107) solid;
}
.erro{
    display: none;
    font-size: 13px;
    color: red;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.imgprincipal{
    margin-top: 40px;
    width: 70%;
    height: 30%;
    border-radius: 10px;
}